[safe]
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
	directory = /root
