**/.vscode
**/.bash_history
**/.ssh
**/.nv
**/.cache
**/.config
**/.python_history
**/build
**/bin
**/.conda
**/.DS_Store
# **/lib
**/dag.pos
**/*.nsys-rep
**/*.qdstrm
**/.viminfo
**/.cmake
**/env
**/*.nsys-rep
**/*.bat
**/.gitconfig

**/__pycache__

**/.cargo
**/.profile
**/.rustup
**/core

tags
remoting/cuda_old

.bashrc
go/
build_log/
lib/
bin/
tmp/

# ignore all assets
assets
dockerfiles/assets
third_party/libclang-static-build
third_party/libclang-static-build.tar.gz
