**/.vscode
**/.bash_history
**/.ssh
**/.nv
**/.cache
**/.config
**/.python_history
**/build
**/bin
**/.conda
# **/lib
**/dag.pos
**/*.nsys-rep
**/*.qdstrm
**/.viminfo
**/.cmake
**/env
**/*.nsys-rep
**/*.bat

**/__pycache__

**/.cargo
**/.profile
**/.rustup
**/core

tags
remoting/cuda_old

.bashrc
go/
build_log/
lib/
bin/
tmp/
