[submodule "remoting/cuda"]
	path = remoting/cuda
	url = git@ipads.se.sjtu.edu.cn:scaleaisys/cricket.git
	branch = pos/add_stub

[submodule "third_party/websocketpp"]
	path = third_party/websocketpp
	url = git@github.com:zaphoyd/websocketpp.git
