[submodule "remoting/cuda"]
	path = remoting/cuda
	url = git@ipads.se.sjtu.edu.cn:scaleaisys/cricket.git
	branch = pos/add_stub

[submodule "third_party/cuda-checkpoint"]
	path = third_party/cuda-checkpoint
	url = git@github.com:NVIDIA/cuda-checkpoint.git
	branch = main
