[submodule "third_party/cuda-checkpoint"]
	path = third_party/cuda-checkpoint
    url = https://github.com/NVIDIA/cuda-checkpoint.git
	branch = main
[submodule "third_party/googletest"]
	path = third_party/googletest
    url = https://github.com/google/googletest.git
[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
    url = https://github.com/jbeder/yaml-cpp.git
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "third_party/criu"]
	path = third_party/criu
	url = https://github.com/SJTU-IPADS/PhoenixOS-CRIU.git
[submodule "third_party/util-linux"]
	path = third_party/util-linux
	url = https://github.com/util-linux/util-linux.git
[submodule "remoting"]
	path = remoting
	url = git@ipads.se.sjtu.edu.cn:scaleaisys/xpuremoting.git
	branch = PhOS
